.Dcontainer{
    display: flex;
    flex-direction: row;
    flex: left;
    float: right;
    margin-right: -100px;
    margin-top: -30px;
    width: 90px;
    justify-content: space-between;


    .dot{
        height:15px;
        width:15px;
        border-radius: 15px;
        background:gray;
    }
}
